<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>UserController</servlet-name>
        <servlet-class>controller.UserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmployeeController</servlet-name>
        <servlet-class>controller.EmployeeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmployeeContractController</servlet-name>
        <servlet-class>controller.EmployeeContractController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmployeeReportController</servlet-name>
        <servlet-class>controller.EmployeeReportController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AttendanceController</servlet-name>
        <servlet-class>controller.AttendanceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmployeePerformanceController</servlet-name>
        <servlet-class>controller.EmployeePerformanceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContractControllerNew</servlet-name>
        <servlet-class>controller.ContractControllerNew</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoanControllerNew</servlet-name>
        <servlet-class>controller.LoanControllerNew</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PersonnelContractController</servlet-name>
        <servlet-class>controller.PersonnelContractController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PersonnelContractControllerNew</servlet-name>
        <servlet-class>controller.PersonnelContractControllerNew</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllowanceControllerNew</servlet-name>
        <servlet-class>controller.AllowanceControllerNew</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoanControllerNew2</servlet-name>
        <servlet-class>controller.LoanControllerNew2</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserController</servlet-name>
        <url-pattern>/UserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmployeeController</servlet-name>
        <url-pattern>/EmployeeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmployeeContractController</servlet-name>
        <url-pattern>/EmployeeContractController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmployeeReportController</servlet-name>
        <url-pattern>/EmployeeReportController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AttendanceController</servlet-name>
        <url-pattern>/AttendanceController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmployeePerformanceController</servlet-name>
        <url-pattern>/EmployeePerformanceController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContractControllerNew</servlet-name>
        <url-pattern>/ContractControllerNew</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoanControllerNew</servlet-name>
        <url-pattern>/LoanControllerNew</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PersonnelContractController</servlet-name>
        <url-pattern>/PersonnelContractController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PersonnelContractControllerNew</servlet-name>
        <url-pattern>/PersonnelContractControllerNew</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllowanceControllerNew</servlet-name>
        <url-pattern>/AllowanceControllerNew</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoanControllerNew2</servlet-name>
        <url-pattern>/LoanControllerNew2</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
